<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>New Persona</h1>
	<form action="/persona" method="post">
        <label for="nome">Name:</label>
        <input type="text" id="nome" name="nome" required>
        <br>
        <label for="cognome">Surname:</label>
        <input type="text" id="cognome" name="cognome" required>
        <br>
        <label for="eta">Age:</label>
        <input type="number" id="eta" name="eta" required>
        <br>
        <button type="submit">Create</button>
</body>
</html>